/*****************************/
/* BELOW 990px */
/****************************/

@media (max-width: 62em) {
  .large-text {
    font-size: 2.975rem;
  }
  .hero-img-container {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }
  .header {
    
    display: grid;
    max-width: 105.75rem;
    max-height: 50.75rem;
    margin: 1rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    gap: -4rem;
  }
  .logo-cont {
    text-align: center;
  }
  .main-nav-list {
    display: flex;
    flex-direction: row;
    gap: 5.8rem;
  }
}
