* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ///////////////  FONTS///////////// */
@font-face {
  font-family: "Nunnito-Black";
  font-weight: 40;
  src: url(vertopal.com_NunitoSans_7pt_Condensed-Black.woff2) format(woff2);
}
@font-face {
  font-family: "Nova-Square";
  font-weight: 400;
  src: url(Nova-Square/novasquare-regular-webfont.woff) format(woff),
    url(Nova-Square/novasquare-regular-webfont.woff2) format(woff2);
}
@font-face {
  font-family: "Nunnito-Regular";
  font-weight: 10;
  src: url(Nunito_Sans/static/NunitoSans_7pt-Regular.ttf) format(woff2);
}
@font-face {
  font-family: "Nunnito-Light";
  font-weight: 100;
  src: url(Nunito_Sans/static/NunitoSans_10pt-SemiBold.ttf) format(woff);
}
@font-face {
  font-family: "Nunnito-Extrabold";
  font-weight: 400;
  src: url(Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf) format(woff);
}
@font-face {
  font-family: "Quicksand";
  font-weight: 120;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf) format(tff);
}
/* //////////////////////////////////// */
.landing-page-header-container {
  background-color: transparent;
}
body {
  background-color: #fff;
}
/* /////////////////////////////// */
/*///////////HEADER///////////////*/
.header {
  max-width: 85.75rem;
  max-height: 20.75rem;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  align-items: end;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgb(240, 248, 255);
}
/* ///////////////////////////////////////// */
/* ///////////LOGO//////////////// */
.logo-cont {
  padding: auto;
  display: flex;
  flex-direction: row;
}
.logo {
  text-transform: uppercase;
  font-family: "Nunnito-Light";
  font-weight: 100;
}
.text {
  font-weight: 1700;
}
/* //////////////////////////////////////// */

/* //////////////////////////////////////// */
/* ///////////////////NAVBAR/////////////// */
.main-nav-div {
  max-height: 2rem;
  margin: 0.15rem auto;
}
.main-nav {
  display: flex;
  flex-direction: row;
  gap: 29.75rem;
}
.main-nav-list {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  font-family: "Nunnito-Light";
  font-weight: 100;
  gap: 2.975rem;
}

.main-nav-item {
  margin-bottom: 8.75px;
}
.bell-icon {
  background-color: rgb(255, 0, 0);
}
.icon {
  background-color: rgb(0, 136, 255);
  border-radius: 35px;
  margin: 0.75rem 0.75rem;
}
.main-nav-link {
  color: black;
  text-decoration: none;
}

.main-nav-link:hover {
  color: rgb(145, 143, 143);
  -webkit-transition: all 0.3s;
  border-radius: 15px;
  width: 3rem;
  height: 1.75rem;
}
/* ////////////////////////////////////// */

/* /////////////HEADER END////////// */
/* ///////////////////////////////// */
.landing-page-return-btn-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.575rem;
  width: 100%;
}
.large-text-div-cont {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
/* /////////////////////////////////////// */
/* /////////////////RETURN BUTTON///////// */
.main-nav-link-return-bar {
  font-family: "Nunnito-Regular";
  font-weight: 10;
  font-size: 1.7rem;
}
.back-icon {
  -webkit-transition: all 0.3s;
  font-size: 1.7rem;
}
.back-icon:hover {
  color: aquamarine;
}
/* ///////////////////////////////////////// */
/* ////////////////////////////////// */

/* /////////////PAGE NAME */
.large-text {
  font-size: 4.975rem;
  font-family: "Nova-Square";
  font-weight: 400;
}
.hero-image-bold-text {
}
/* //////////////////////////////// */

/* ////////////////////////////////////////// */
/* //////////////////TEXT DETAILS//////////// */
.large-text-details {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.text-icon {
  font-size: 1.475rem;
}
.image-details {
  font-size: 1.475rem;
  margin-left: 5.575px;
}
.icon-text {
  font-family: "Nunnito-Regular";
  font-weight: 10;
}
#highlights {
  font-weight: bold;
}
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */

/* /////////////////////////////////////// */
/* ////////////// IMAGES/////////*/
.hero-img-container {
  padding: 2rem;
  max-width: 200rem;
  display: flex;
  flex-direction: row;
  gap: 8.5px;
  margin: 0 1rem;
}
.hero-img-box1-container {
  max-width: 55.25rem;
}
.hero-img-box-2-container {
  max-width: 55.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-img-box-2-container-icon-container {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  max-width: 20rem;
  margin-left: 19rem;
}
.icon-container {
  background-color: red;
  width: 2rem;
  height: 2rem;
  background-position: center;
  border-radius: 50%;
  /* border-radius: 50%;
  padding-top: 1.8rem;
  padding-left: 2rem;
  padding-right: 2rem; */
}
.back-icon {
  width: 2.5rem;
  height: auto;
}
.cont-icons {
  font-size: 2.5rem;
}
.hero-img-box1 {
  background-image: url(https://wallpapers.com/images/high/most-badass-demon-slayer-characters-r5qpd691989mwcxg.webp);
  background-position: center;
  background-size: cover;
  width: 50.75rem;
  height: 30.75rem;
  border-radius: 35.775px;
  -webkit-transition: all 0.9995s;
}
.hero-img-box2 {
  background-image: url(https://wallpapers.com/images/high/demon-slayer-4k-hashira-sbbkjpn3nlemh549.webp);
  width: 50.75rem;
  height: 23.75rem;
  border-radius: 35.775px;
  margin-bottom: 1rem;
  -webkit-transition: all 0.9995s;
}

.hero-img-box1:hover {
  background-image: url(https://wallpapers.com/images/high/dark-demon-slayer-sagmrd4hrpbf816r.webp);
  cursor: pointer;
}
.play-icon {
  font-size: 5rem;
  max-width: 15rem;
  max-height: 15rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 20%;
}

.hero-img-box1-icon-cont {
  text-align: center;
}
.button-bar-div-cont {
  display: flex;
  flex-direction: row;
  max-width: 50.775rem;
  margin: 1.25rem 2.75rem;
  gap: 1.2rem;
}
.button-bar-div {
  border-radius: 25.15px;
  background-color: #f3f3ee;
  max-width: 10.775rem;
  max-height: 5.75rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  -webkit-transition: all 0.975s;
}
.button-bar-div:hover {
  border-radius: 25.15px;
  background: #f3f3ee;
  box-shadow: -5px 5px 10px #d3d3cf, 5px -5px 10px #ffffff;
}
.button-bar-text {
  font-family: "Nunnito-Regular";
  font-weight: 120;
}
.button-bar-text-link {
  margin-top: 30px;
  text-decoration: none;
}
.button-bar-text-link:hover {
  color: black;
}
.hero-img-box1-subtext-cont {
  max-width: 150.775rem;
  max-height: 20rem;
  margin: 1.25rem 2.45rem;
}
.hero-img-box1-subtext {
  font-family: "Nunnito-Light";
  font-weight: 100;
}
